body{
    background-color: #f5d9d5;
    font-family: "Nunito ", sans-serif;
}
.blurb h2 {
    color:  #ea1c2c;
    font-weight: 100;
    font-size: 1.5rem;
}
.blurb p{
    color: #f49fb8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
.content {
    margin-top: 100px;
}
#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link{
    color:white;
}
#mainNavbar .nav-link:hover{
    color: #ea1c2c;
}
#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
    font-weight: 100;

}
#heading-group span {
    color: #ea1c2c;
}
#heading-group h2{
    font-weight: 100;
}
.navbar.scrolled{
    background: rgb(222,192,222);
    transition: background 1s;
}